<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>COMFORT ZONE</title>
  <meta name="viewport" content="width=device-width" />
  <!-- <link rel="icon" href="img/favicon.png" /> -->
  <link rel="stylesheet" href="css/app.min.css" />
</head>

<body>
  {% block content %}{% endblock %}
  <script src="js/app.min.js"></script>
</body>

</html>