{% extends "app/njk/layout/main.njk" %}
{% block content %}
<style>
    ol {
        font-size: 20px;
        line-height: 1.6px;
        color: #333333;
    }

    a {
        display: table;
        margin-bottom: 12px;
        font-size: 24px;
        line-height: 1.6px;
        text-decoration: none;
        color: #333333;
    }

    a:hover {
        text-decoration: underline;
    }

    .b-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>
<div class="b-container">
    <ol>
        <li><a href="./microsonic_land.html">Microsonic</a></li>
    </ol>
</div>
{% endblock %}